name: playwright api and ui test
# Когда запускаем тесты
on:
  push:
    branches:
      - master
# Ручной запуск
  workflow_dispatch: 

jobs:
  pw5Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
      - name: Установка npm-пакеты из package.json
        run: npm ci
      - name: Установка браузеров
        run: npx playwright install --with-deps
      - name: Запусков тестов
        run: npm t
